.basket {
  display: flex;
  align-items: center;
  justify-content: center;
  &__card {
    width: 841px;
    height: 849px;
    background: #000000;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  }
  &__header {
    background: #8482ff;
  }
}
