.certificate {
  padding: 60px 0 57px;
  background: #3e416d;
  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__row .col-lg-6 img {
    width: 416px;
    height: 555px;
  }
  &__col {
    text-align: center;
    &:last-child {
      margin-bottom: 60px;
    }
  }
  &__cert {
    width: 416px;
    height: 555px;
  }
  &__title {
    @include text($inter, normal, bold, 40px, 48px, #fff);
    text-align: start;
  }
  &__des {
    @include text($inter, normal, normal, 18px, 22px, #fff);
    margin: 30px 0 36px;
    text-align: start;
  }
  &__get {
    margin-right: 56px;
  }
  &__sub {
    display: flex;
    &-title {
      @include text($inter, normal, 600, 18px, 22px, #fff);
      margin-bottom: 19px;
    }
    &-cov {
      @include text($inter, normal, normal, 16px, 19px, #fff);
    }
  }
  &__courses {
    margin-top: 10px;
    margin-left: 19px;
  }
  &__course {
    text-align: start;
    text-decoration-line: underline;
    position: relative;
    cursor: pointer;
    &:before {
      content: "·";
      position: absolute;
      font-size: 96px;
      bottom: 3px;
      left: -25px;
    }
  }
  &__courses a:first-child &__course {
    @include text($inter, normal, normal, 14px, 17px, #8482ff);
  }
  &__course:last-child {
    @include text($inter, normal, normal, 14px, 17px, #ff9882);
  }
}
