.header {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 140px;
  &__nav {
    display: flex;
    margin-top: 48px;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    @include text($inter, normal, normal, 13px, 21px, #8482ff);
    &-part {
      color: #3e416d;
    }
  }
  &__mnu {
    display: flex;
    margin-top: 3px;
    column-gap: 57px;
    &-item a {
      @include text($inter, normal, normal, 16px, 19px, #3e416d);
      &:nth-child(2) {
        color: #8482ff;
      }
    }
  }
  &__dropper {
    position: relative;
  }
  &__dropdown {
    position: absolute;
    background: #fff;
    border: 1px solid #8482ff;
    width: 150px;
    top: 20px;
    display: none;
  }
  &__dropdown li a {
    width: 100%;
  }
  &__dropdown li:first-child a {
    @include text($inter, normal, normal, 16px, 17px, #8482ff);
  }
  &__dropdown li:last-child a {
    @include text($inter, normal, normal, 16px, 17px, #ff9882);
  }
  &__dropper:active > ul {
    display: block;
  }
}
