.slider {
  padding: 60px;
  background: #3e416d;
  &__title {
    @include text($inter, normal, bold, 40px, 48px, #fff);
    text-align: center;
    margin-bottom: 197px;
  }
}

.swiper-container {
  width: 100%;
  border-radius: 10px;
}
.swiper-scrollbar {
  position: absolute;
  left: 33%;
  top: 10px;
  z-index: 50;
  height: 10px;
  width: 33%;
}
