@import url(../fonts/inter/stylesheet.css);
@import "../libs/bs/bootstrap-grid.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  max-width: 1240px;
}

$inter: "Inter", sans-serif;

@mixin text($ff, $ft, $fw, $fs, $lh, $cr) {
  font-family: $ff;
  font-style: $ft;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  color: $cr;
}

a {
  text-decoration: none;
  outline: none;
}
ul {
  list-style: none;
}

.close-btn {
  width: 19px;
  height: 2px;
  &::before {
    width: 100%;
    height: 100%;
    background: #6562db;
    transform: rotate(45deg);
  }
}

@import "header";
@import "home";
@import "video";
@import "courses";
@import "features";
@import "devstart";
@import "exs";
@import "lector";
@import "certificate";
@import "challange";
@import "slider";
@import "basket";
